﻿@model GuestBook.Models.留言板

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>留言板</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.發言人)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.發言人)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.留言)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.留言)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.留言時間)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.留言時間)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.已審核)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.已審核)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
